<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Company</th>
            <th>Title</th>
            <th>Date Posted</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in jobs track by $index"
            ng-click="searchCandidates(job)"
            ng-class="{'info text-strong': job.selected, 'pointer': !loading}">
            <td ng-bind="job.company.name"></td>
            <td ng-bind="job.title"></td>
            <td ng-bind="job.date | dateTime"></td>
            <td ng-bind="job.status | properCase"></td>
        </tr>
        </tbody>
    </table>
</div>