<div ng-controller="JobSearchCtrl" class="container-fluid">

    <!-- Loader -->
    <loader ng-if="loading"></loader>

    <!-- Main title -->
    <div class="row">
        <h2 class="text-center">
            Job Consultant Portal
        </h2>
    </div>

    <div class="row">
        <!-- Company -->
        <div class="col-md-6">
            <strong>
                {{user.company.name}}
            </strong>
        </div>

        <!-- User -->
        <div class="col-md-6">
            <button class="btn btn-warning pull-right" title="Sign Out"
                    ng-disabled="loading" ng-click="logout()">
                <i class="fas fa-sign-out-alt"></i>
            </button>
            <strong class="pull-right margin-right-15">
                {{user | name}}
            </strong>
        </div>
    </div>

    <!-- Search Form -->
    <form class="form-horizontal border-top-bottom" role="form">
        <div class="form-group">
            <!-- Status -->
            <div class="col-md-2">
                <div class="radio">
                    <label class="margin-right-15">
                        <input type="radio" ng-value="'OPEN'" name="status" ng-model="status"/>
                        Open
                    </label>
                    <label>
                        <input type="radio" ng-value="'CLOSED'" name="status" ng-model="status"/>
                        Closed
                    </label>
                </div>
            </div>

            <!-- Title -->
            <div class="col-md-1">
                <label class="pull-right">Title</label>
            </div>

            <!-- Search Box -->
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="title"
                       uib-typeahead="job.title for job in getJobSuggestions($viewValue) | limitTo: 10"
                       placeholder="Start typing to filter titles"
                       typeahead-editable="true" typeahead-append-to-body="true" autocomplete="off"/>
            </div>

            <!-- Button Controls -->
            <div class="col-md-2 pull-right">
                <button class="btn btn-primary margin-right-15"
                        ng-disabled="loading || !isSearchEnabled()" ng-click="searchJobs()">
                    <i class="fas fa-search margin-right-5"></i>
                    Search
                </button>
                <button class="btn btn-danger"
                        ng-disabled="loading || !isSearchEnabled()" ng-click="reset()">
                    <i class="fas fa-times margin-right-5"></i>
                    Clear
                </button>
            </div>
        </div>
    </form>

    <!-- Job Listing -->
    <div class="row">
        <div class="col-md-12">
            <h4>Posted Jobs</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <job-listing jobs="jobs"
                         loading="loading"
                         on-select="getCandidates(jobId)">
            </job-listing>
        </div>
    </div>


    <div class="row">
        <!-- Candidate Listing -->
        <div class="col-md-6">
            <div class="radio">
                <label class="margin-right-15">
                    <input type="radio" name="candidateView"
                           value="SHORTLIST" ng-click="setCandidateView('SHORTLIST')" ng-model="candidateView"/>
                    Shortlist
                </label>
                <label class="margin-right-15">
                    <input type="radio" name="candidateView"
                           value="REJECT" ng-click="setCandidateView('REJECT')" ng-model="candidateView"/>
                    Reject
                </label>
                <label class="margin-right-15">
                    <input type="radio" name="candidateView"
                           value="PENDING" ng-click="setCandidateView('PENDING')" ng-model="candidateView"/>
                    Pending
                </label>
            </div>

            <candidate-listing candidates="candidates"
                               loading="loading"
                               on-select="getPerformance(jobId, intervieweeId)">
            </candidate-listing>
        </div>

        <!-- Performance Listing -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>Interviews</h4>
                </div>
            </div>
            <performance-listing performance="performance"
                                 loading="loading"
                                 on-update-status="updatePerformance(jobId, intervieweeId, interviewRound, result)">
            </performance-listing>
        </div>
    </div>

</div>